.image 
{
    height: 100vh;
    width: 100%;
    background: url(img/hanma.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.header 
{
    z-index: 2;
}

.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container-custom 
{
    display: block;
}

.footer
{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%);
    z-index: 1;
    color: var(--bs-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.pb
{
    clip-path: circle();
}

.navbar {
    background:transparent;
}