* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.end-text {
  opacity: 0;
  z-index: 10002;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.end-text h1 {
  font-size: 1.5em;
  letter-spacing: 5px;
  font-family: monospace;
  color: black;
}

.fade-out {
  animation: fadeOutToWhite 1s forwards;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

@keyframes fadeOutToWhite {
  from { opacity: 0; }
  to { opacity: 1; }
}

.heart {
  position: absolute;
  pointer-events: none;
  z-index: 10000;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
  animation: fadeInOut 1s linear infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }

  20%, 80% {
    opacity: 1;
  }
}

.heart::before {
  transform-origin: center;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: url(heart.png);
  background-size: cover;
  animation: moveShape 1s linear infinite;
}

@keyframes moveShape {
  0% {
    transform: translate(0) rotate(0deg);
  }
  100% {
    transform: translate(300px) rotate(360deg);
  }
}

.noButton {
  position: absolute;
}

#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    overflow: hidden;
    pointer-events: none;
}

.loader {
    width: 100vw;
    height: 100vh;
}

.loader-clip {
    position: absolute;
    width: 100vw;
    height: 33.3vh;
    overflow: clip;
    z-index: 10000;
}

.clip-top {
    top: 0;
    height: 51vh;
    clip-path: inset(0 0 0 0);
    background: #000;
}

.clip-bottom {
    bottom: 0;
    height: 51vh;
    clip-path: inset(0 0 0 0);
    background: #000;
}

.clip-center {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 33.3vh;
    top: 33.3vh;
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10001;
    animation: fadeOut 2s ease 61s forwards,
               fadeIn 2s ease 89s forwards;
}

#app {
    font-size: 1.5em;
    letter-spacing: 5px;
    font-family: monospace;
    color: #fff;
}

#form {
  opacity: 0;
  animation: fadeIn 2s ease 113s forwards;
}

#form2 {
  opacity: 0;
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 14px;
}

.love-text {
    font-weight: 700;
    color: #fff;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}